.home-page {
    font-size: small;
    h2 {
        font-size: 1.5em;
    }
    section {
        margin: 3em auto;
        &:first-child {
            margin-top: 0;
        }
        &.centered {
            text-align: center;
        }
    }
    form {
        margin-bottom: 1em;
        input {
            outline: none;
            border-bottom: 1px dotted #999;
            border-top: none;
            border-left: none;
            border-right: none;
            background: #101010;
            color: #c0c0c0;
            padding: 2px;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
        input[type="text"]:focus {
            outline: none;
        }
    }
    span.at-prefix {
        color: black;
        margin-left: 0.4em;
    }
    .tng-chart-container {
        margin: 3px;
    }
    .vehicle-selectors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .cost-comparison-container {
        display: table-row;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        input[type=text] {
            width: 50px;
            margin-left: 5px;
            margin-right: 10px;
        }
    }
    .cost-comparison-result-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .annual-cost-chart-container {
        width: 400px;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
    }
}
