.home-page {
    font-size: small;
    h2 {
        font-size: 1.5em;
    }
    section {
        margin: 3em auto;
        &:first-child {
            margin-top: 0;
        }
        &.centered {
            text-align: center;
        }
    }
    form {
        margin-bottom: 1em;
        input {
            outline: none;
            border-bottom: 1px dotted #999;
            border-top: none;
            border-left: none;
            border-right: none;
            background: #101010;
            color: #c0c0c0;
            padding: 2px;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
        input[type="text"]:focus {
            outline: none;
        }
    }
    span.at-prefix {
        color: black;
        margin-left: 0.4em;
    }
    #tng-chart-container {
        margin: 3px;
    }
    .vehicle-container {
        display: table-row;
    }
    .vehicle-selectors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .vehicle-selector {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 50%;
    }
    .vehicle-results-container {
        display: table;
    }
    .vehicle-details {
        display: table-row;
        padding-left: 10px;
        padding-right: 10px;
        width: 50%;
        text-align: center;
    }
    .vehicle-details>div {
        background: #212121;
        padding-left: 5px;
        padding-bottom: 5px;
        border-radius: 7px;
    }
    .vehicle-image-container {
        height: 60px;
        width: 120px;
        position: relative;
        overflow: hidden;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .vehicle-image {
        width: 120px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .vehicle-emission {
        margin-top: 5px;
        vertical-align: middle;
    }
    .vehicle-fuel {
        margin-top: 5px;
        vertical-align: middle;
    }
    .vehicle-headers {
        display: table-row;
        width: 100%
    }
    .vehicle-header {
        display: table-cell;
        padding-left: 10px;
        padding-right: 10px;
    }
    .cost-comparison-container {
        display: table-row;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        input[type=text] {
            width: 50px;
            margin-left: 5px;
            margin-right: 10px;
        }
    }
    .cost-comparison-header {
        display: table-row;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.4em;
        width: 100%;
    }
    .cost-comparison-inputs {
        line-height: 1.9
    }
    .cost-comparison-result-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .vehicle-annual-cost {
        background: #212121;
        padding: 10px;
        border-radius: 5px;
    }
    #annual-cost-chart-container {
        width: 400px;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    svg[aria-label="A chart."]>g>g:last-child {
        // HACK: working around a bug in Google Chart that causes flickering tooltip. from https://stackoverflow.com/a/39775254/573447
        pointer-events: none
    }
}
