.vehicle-annual-cost {
    background: #212121;
    padding: 10px;
    border-radius: 5px;
}

.vehicle-details-cost {
    display: table-row;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    text-align: center;
}

.vehicle-details-cost>div {
    background: #212121;
    padding-left: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
}
