.cost-comparison-header {
    display: table-row;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.4em;
    width: 100%;
}

.cost-comparison-inputs {
    line-height: 1.9
}
